[submodule "project/Network-go"]
	path = project/Network-go
	url = https://github.com/TTK4145/Network-go.git
[submodule "project/driver-go"]
	path = project/driver-go
	url = https://github.com/TTK4145/driver-go.git
